@model GummyKingdom.Models.Product

<html>
<head>
	<title>Gummy Kingdom</title>
</head>
<body>

	<h2>Details for: @Html.DisplayFor(model => model.Name)</h2>

	<h3> @Html.DisplayNameFor(model => model.Cost) : @Html.DisplayFor(model => model.Cost)</h3>
	<h3>@Html.DisplayNameFor(model => model.Country): @Html.DisplayFor(model => model.Country)</h3>

	<p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>