@model GummyKingdom.Models.Product

@{
    ViewData["Title"] = "Gummy Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
	<h4>Details for: @Html.DisplayFor(model => model.Name)</h4>

	<h5> @Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</h5>
	<h5>@Html.DisplayNameFor(model => model.Cost) : $ @Html.DisplayFor(model => model.Cost)</h5>
	<h5>@Html.DisplayNameFor(model => model.Country): @Html.DisplayFor(model => model.Country)</h5>

	<p>@Html.ActionLink("Back to products", "Index")</p>

</div>